<div class="card">
  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">
    <form #flightSearchForm="ngForm" [roundTrip]="['from', 'to']" [asyncMulti]="['from', 'to']">
      <div class="form-group">
        <label>From (*)</label>
        <input
          [(ngModel)]="from"
          [ngModelOptions]="{ updateOn: 'blur' }"
          autocomplete="false"
          name="from"
          class="form-control"
          required="required"
          [minlength]="minLength"
          [maxlength]="maxLength"
          [pattern]="pattern"
          asyncCity
        />
      </div>

      <div *ngIf="flightSearchForm.controls['from']?.pending" class="text-warning">... Executing Async Validator(s) ...</div>

      <app-flight-validation-errors
        *ngIf="flightSearchForm.controls['from']?.dirty"
        [errors]="flightSearchForm.controls['from'].errors"
        fieldLabel="From"
      />

      <div class="form-group">
        <label>To (*)</label>
        <input
          [(ngModel)]="to"
          [ngModelOptions]="{ updateOn: 'blur' }"
          name="to"
          class="form-control"
          required="required"
          [minlength]="minLength"
          [maxlength]="maxLength"
          [pattern]="pattern"
          [city]="['Graz', 'Salzburg', 'Hamburg', 'München']"
        />
      </div>

      <app-flight-validation-errors
        *ngIf="flightSearchForm.controls['to']?.dirty"
        [errors]="flightSearchForm.controls['to'].errors"
        fieldLabel="To"
      />

      <div *ngIf="flightSearchForm.pending" class="text-warning">... Executing Async Multi Field Validator(s) ...</div>

      <app-flight-validation-errors *ngIf="flightSearchForm.dirty" [errors]="flightSearchForm.errors" fieldLabel="Form" />

      <div class="form-group">
        <button (click)="onSearch()" class="btn btn-default">Search</button>

        <button [disabled]="flights.length === 0" (click)="delayFirstFlight()" class="btn btn-default" style="margin-left: 10px">
          Delay first flight
        </button>

        <button *ngIf="flights.length > 1" class="btn btn-default" style="margin-left: 10px" (click)="removeSecondFlight()">
          Remove 2nd flight
        </button>
      </div>
    </form>
  </div>
</div>

<!--<div *ngIf="flights.length > 0" class="card">
  <div class="content">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Id</th>
          <th>From</th>
          <th>To</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of flights" [class.active]="f.id === selectedFlight?.id">
          <td>{{ f.id }}</td>
          <td>{{ f.from | city: 'short' }}</td>
          <td>{{ f.to | city: 'long' }}</td>
          <td>{{ f.date | date: 'dd.MM.yyyy HH:mm' }}</td>
          <td>
            <a (click)="onSelectToggle(f)">Select</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->

<div *ngIf="flights.length > 0" class="row">
  <div *ngFor="let f of flights; trackBy: trackById" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <!--<app-flight-card [item]="f" [isSelected]="basket[f.id]" (isSelectedChange)="basket[f.id] = $event"></app-flight-card>-->
    <app-flight-card [item]="f" [isSelected]="basket[f.id]">
      <h3 class="top">Flight</h3>
      <ng-container class="bottom">
        <button class="btn btn-default" style="margin-right: 10px" (click)="onSelectToggle(f)">
          {{ basket[f.id] ? 'Rem.' : 'Add' }}
        </button>
        <app-flight-status-toggle style="margin-right: 10px" [(isDelayed)]="f.delayed"></app-flight-status-toggle>
        <button class="btn btn-default" [routerLink]="['/flight-booking', 'flight-edit', f.id, { showDetails: true }]">Edit</button>
      </ng-container>
    </app-flight-card>
  </div>
</div>

<div class="card">
  <div class="content">
    <pre>{{ basket | json }}</pre>
  </div>
</div>

<!-- duplicated this part to demonstrate async pipe -->
<div *ngIf="flightsSubject | async as asyncFlights" class="card">
  <div class="content">
    <table class="table table-condensed" *ngIf="asyncFlights.length > 0">
      <thead>
        <tr>
          <th>Async</th>
          <th>From</th>
          <th>To</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of asyncFlights" [class.active]="f.id === selectedFlight?.id">
          <td>{{ f.id }}</td>
          <td>{{ f.from | city: 'short' }}</td>
          <td>{{ f.to | city: 'long' }}</td>
          <td>{{ f.date | date: 'dd.MM.yyyy HH:mm' }}</td>
          <td>
            <a (click)="onSelectToggle(f)">Select</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- duplicated this part again to demonstrate signals -->
<div *ngIf="flightsSignal().length > 0" class="card">
  <div class="content">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Signal</th>
          <th>From</th>
          <th>To</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of flightsSignal()" [class.active]="f.id === selectedFlight?.id">
          <td>{{ f.id }}</td>
          <td>{{ f.from | city: 'short' }}</td>
          <td>{{ f.to | city: 'long' }}</td>
          <td>{{ f.date | date: 'dd.MM.yyyy HH:mm' }}</td>
          <td>
            <a (click)="onSelectToggle(f)">Select</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--<div *ngIf="selectedFlight" class="card">
  <div class="header">
    <h2 class="title">Flight Edit</h2>
  </div>

  <div class="content">
    <div class="form-group">
      <label>Id</label>
      <input [(ngModel)]="selectedFlight.id" class="form-control" />
    </div>

    <div class="form-group">
      <label>From</label>
      <input [(ngModel)]="selectedFlight.from" class="form-control" />
    </div>

    <div class="form-group">
      <label>To</label>
      <input [(ngModel)]="selectedFlight.to" class="form-control" />
    </div>

    <div class="form-group">
      <label>Date</label>
      <input [(ngModel)]="selectedFlight.date" class="form-control" />
    </div>

    <button (click)="onSave()" class="btn btn-default">Save</button>

    <div *ngIf="message">
      {{ message }}
    </div>
  </div>
</div>-->

<div *ngIf="flightToEdit" class="card">
  <div class="content">
    <app-flight-edit [flight]="flightToEdit" (flightChange)="updateFlight($event)" />
  </div>
</div>
